.tile {
    width: 30px;
    height: 30px;
    background: gray;
    border: 1px solid black;
       display: flex;
    justify-content: center;
    align-items: center;
}

.revealed {
    background-color: lightgray;
}

.num1 {
    color: blue; 
}
.num2 {
    color: green; 
}
.num3 {
    color: red; 
}

.num4 {
    color: purple;
}

.num5, .num6, .num7, .num8 {
    color: black;
}

.bomb {
    background: red;
 
}